body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#calculate-btn {
    display: block;
    margin: 2rem auto;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    background-color: #08b;
    color: #fff;
    cursor: pointer;
}

#calculate-btn:hover {
    background-color: #07b;
}

h1 {
    text-align: center;
}

.label {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.label:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s;
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
}

.na-btn {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    background-color: #ddd;
    color: #333;
    cursor: pointer;
}

.na-btn:hover {
    background-color: #ccc;
}

.na-btn.selected {
    background-color: #f66;
    color: #fff;
}

p {
    text-align: center;
}

.slider {
  margin: 20px;
  text-align: center;
}

.slider input {
  width: 200px;
  height: 20px;
  margin-top: 10px;
}

.slider-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tooltip {
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.2;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

.tooltip::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent rgba(0, 0, 0, 0.8) transparent transparent;
}

.range {
    width: 100%;
}

#rating {
    font-size: 1.5rem;
    font-weight: bold;
}

.value {
    font-size: 1.2rem;
    font-weight: bold;
}
